
<div class="xl-panel panel-default">
  <%= @group_ids.inspect %>
  <h1> Study Spots </h1>
  <% if @empty %>
    <%= @empty %>
  <% else %>
  <div class="row">

  <div class="col-4">
    <div class="sidebar" id="sidebar"></div>
  </div>

  <div class="col-8">
    <div id="map" style="width:100%; height:400px"></div>
  </div>
  <% end %>
</div>
<script>
  var gmarkers = [];

  <% if !@empty %>
    initMap();
  <% end %>
  function initMap() {
    var sfu = {lat: 49.2793539, lng: -122.9159272};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: sfu
    });

    var infowindow = new google.maps.InfoWindow();


    var assignListener = function(marker, contentString){
                          return function() {
                                 infowindow.setContent(contentString);
                                 infowindow.open(map, marker);
                                  };
                        };

    <% @groups.each do |group| %>
      var data = { name: "<%= group.name %>",
                   course: "<%= group.course.name %>",
                   description: "<%= group.description %>",
                   img: "<%= group.image.url(:thumb) %>"};
      var marker = new google.maps.Marker({
        map: map,
        position: { lat: <%= group.latitude %>, lng: <%= group.longitude %> },
        title: "<%= group.name %>"
      });

      var contentString = '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h6 id="firstHeading" class="firstHeading"><%= group.name %></h6>'+
          '<div id="bodyContent">'+
          '<p>Course: <%= group.course.name %> </p>' +
          '<p>Location: <%= group.location_description %> </p>' +
          '<img src="<%= group.image.url(:medium) %>" style="margin: auto;width:100%;height:100px;"></img> </br>' +

          <% if @group_ids.include?(group.id) %>
            `<a href="/group_page/<%= group.id %>" class="btn">Enter!</a>`+
          <% else %>
            `<a href="/join_group/<%= group.course_id %>/<%= group.id %>">Join Group!</a>`+
          <% end %>

          '</div>'+
          '</div>';

      marker.addListener('click', assignListener(marker, contentString) );
      gmarkers.push(marker);

      createMarkerButton(marker, data);
    <% end %>
  }

  function createMarkerButton(marker, data) {
    //Creates a sidebar button
    var ul = document.getElementById("sidebar");
    var li = document.createElement("li");
    li.innerHTML = `<div class="study-spot-card" style="width: 100%">` +
                   `  <div class="study-spot-thumb"><img src="`+ data['img'] + `"></img></div>` +
                   `  <div class="study-spot-content">` +
                   `    <h5>` + data['name'] + `</h5>` +
                   `    <p>` + data['course'] + `</p>` +
                   `    <p>` + data['description'] + `</p>` +
                   `</div>`;

    ul.appendChild(li);

    //Trigger a click event to marker when the button is clicked.
    google.maps.event.addDomListener(li, "click", function(){
      google.maps.event.trigger(marker, "click");
    });
  }
</script>
