<div class="admin-panel-small panel-default">
  <p>
    <strong>User:</strong>
    <%= @user.id %>
  </p>

  <p>
    <strong>First Name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= @user.bio %>
  </p>

  <p>
    <strong>School:</strong>
    <%= @user.school %>
  </p>

  <p>
    <strong>Faculty of Study:</strong>
    <%= @user.faculty %>
  </p>


  <% if is_admin? %>
  <%= link_to 'Edit', '/admin/users/' + @user.id.to_s + '/edit' %> | <%= link_to 'Back', '/admin/users' %>

  <% elsif is_logged_in? %>
    <a href="/">Visit Home Page</a>

  <% end %>

</div>
