<div class="admin-panel-small panel-default">
  <p>
    <strong>User:</strong>
    <%= @user.id %>
  </p>

  <p>
    <strong>First Name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <%= link_to 'Edit', '/admin/users/' + @user.id.to_s + '/edit' %> |
  <%= link_to 'Back', '/admin/users' %>
</div>
