
<div class="large-panel panel-default">

  <div class="searchable-container">

    <h1>Add your courses</h1>
    <div class="form-group">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <input type="search" class="form-control" id="search" placeholder="Find your course...">
        </div>
    </div>

    <form action="/enrollments/add" method="post">
      <div class="row">
      <% @courses.each do |course| %>
      <div class="items col-sm-4" style="width: 20rem;">
          <div data-toggle="buttons" class="btn-group">
            <label class="btn btn-default">
                <div class="content">
                  <input type="checkbox" checked id="<%= course.id %>" name="course_id[]" autocomplete="off" value="<%= course.id %>">
                  <h5 class="course-tag"><%= course.name %></h5>
                  <p> <%= course.description %> </p>
                </div>
              </label>
            </div>
        </div>
      <% end %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <button type="submit" class="btn btn-primary">Next</button>
      </div>
    </form>

  </div>
</div>
