
<script>

  function start() {
    <% if (@group.latitude != nil) %>
      <% @has_location = true %>
        initMap();
    <% else %>
      <% @has_location = false %>
    <% end %>

  }

  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: { lat: <%= 49.000 %>, lng: <%= 142.000 %> }
    });

    var marker = new google.maps.Marker({
      position: { lat: <%= @group.latitude %>, lng: <%= @group.longitude %> },
      map: map
    });

    google.maps.event.addListenerOnce(map, 'idle', function() {
      google.maps.event.trigger(map, 'resize');
      map.setCenter(new google.maps.LatLng(<%= @group.latitude %>,<%= @group.longitude %>))
    });

  }
</script>

<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key} alert alert-info" %>
<% end %>

<div class="large-panel panel-default">

  <div class="group-container">

    <div class="row">
      <div class="col-2">
        <img class="group-image" src="<%= @group.image.url %>"></img>
      </div>
      <div class="col-10">
        <h2><%= @group.name %> <br> </h2>
        <p><%= @group.description %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <h6> Members: </h6>
        <% @members.each do |member| %>
          <p><%= member.first_name %></p>
        <% end %>
      </div>
      <div class="col-10">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#chat" role="tab" data-toggle="tab">Group Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#studyspot" role="tab" onclick="start()" data-toggle="tab">Study Spot</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#documents" role="tab" data-toggle="tab">Documents</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="chat">
            <div id="messages" data-chat-room-id="<%= @chat_room.id %>">
                <%= render @chat_room.messages %>
            </div>

            <%= form_for @message, url: '#' do |f| %>
              <div class="form-group">
                <%= f.label :body %>
                <%= f.text_area :body, class: 'form-control' %>
                <small class="text-muted">From 2 to 1000 characters</small>
              </div>

              <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
            <% end %>

          </div>

          <div role="tabpanel" class="tab-pane fade" id="studyspot">
            <% if @has_location %>
              <a class="btn btn-primary" href="/group_page/<%= @group.id %>/change_location"> Change Location </a>
              <p> Location Description: <%= @group.location_description %> </p>
              <div id="map" style="width:100%; height:400px"></div>
            <% else %>
              <p> You can choose a study spot location for this group <a href="/group_page/<%= @group.id %>/change_location"> Here </a> </p>
            <% end %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="documents">
            <div class="document-container">
              <div class="row">
                <% @group.documents.each do |document| %>
                  <div class="col-sm-4" style="width: 20rem;">
                    <a href="<%= document.file.url %>"><img class="file-image" src="<%= asset_path('file-image.png')%>"></img></a>
                    <p> <%= document.file_file_name %> </p>
                  </div>
                <% end %>
              </div>
            </div>
            <form action="/groups/add_file" method="post" enctype="multipart/form-data">
              <input type="text" name="file[group_id]" value="<%= @group.id %>" hidden />
              <label> Upload a file: </label>
              <input type="file" name="file[file]" />
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

              <button type="submit" class="btn btn-success">Upload</button>
            </form>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>
