<!DOCTYPE html>
<html>
  <head>
    <title>Mystudygroup</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgjFwmbH0yMt79FCYVuRaV4YJ4eUmri60"
    type="text/javascript" ></script>

  </head>
  <div class="background-image"></div>
  <nav class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">mystudygroup</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <% if is_logged_in? %>
          <li class="nav-item">
            <a class="nav-link" href="/courses">My Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/groups">My Groups</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/study_spot">Study Spots</a>
          </li>
        <% end %>
        <% if is_admin? %>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Administration
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/admin/users">Users</a>
                    <a class="dropdown-item" href="/admin/courses">Courses</a>
                    <a class="dropdown-item" href="/admin/enrollments">Enrollments</a>
                </div>
          </li>
          <% elsif is_logged_in? %>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= session[:first_name] %>
                <div class="dropdown-menu" aria-labelledby="profile">
                    <a><%= link_to 'Your Profile', update_user_path(session[:user_id]), class: "dropdown-item" %></a>
                </div>
            </li>
          </li>
        <% end %>

      </ul>
      <ul class="navbar-nav">
        <% if is_logged_in? %>
          <li class="nav-item">
            <span class="nav-link">Welcome, <%= session[:first_name] %> ! </span>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout', logout_path, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", login_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Register", new_user_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
